:root {
    --title-font: 'Bebas Neue', cursive;
    --bd-body-font: 'Roboto', sans-serif;
    --subtitle-font: 'Fira Sans', sans-serif;
    --bd-primary-color: #91CBFB;
    --bd-secondary-color: #4294BA;
    --bd-dark-color: #212121;
    --bd-light-color: #f8f8f8;
    --bd-font-size: 1.2rem;
    --bd-line-height: 1.5rem;
    --bd-font-weight: 400;
    --bd-title-color: #327288;
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem);
    --level-four: translatez(12rem);
    --fw-normal: 400;
    --fw-bold: 700: slide 5s linear infinite;
    --clr: #000000;
    --animation-iteration-count: 1;
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
    --clr-black: black;
}


/*3-d imaging effect*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: "100vh";
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    background: var(--clr-bg);
    color: var(--clr-neon);
}

.Card {
    position: relative;
    display: flex;
    flex-flow: column;
    max-width: 400px;
    perspective: 800px;
    border-radius: 25px;
    border: 1px solid black;

}

.Card_content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    padding-bottom: 4em 4em;
    transition: transform 1s;
    background: rgb(71, 3, 14);
    transform-style: preserve-3d;
    border-radius: 25px;

}

.Card:hover .Card_content {
    transform: rotateY(.5turn);

}

.Card_front,
.Card_back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    border-radius: 25px;

}

.Card_front {
    background-color: #74aac9;
    background-image: url(/img/placeholder.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    border-radius: 25px;
    color: rgb(0, 0, 0);

}

.Card_front::before {
    content: '';
    position: absolute;
    --spacer: 1em;
    top: var(--spacer);
    bottom: var(--spacer);
    left: var(--spacer);
    right: var(--spacer);
    border: 3px solid currentColor;
    transform: var(--level-one);
    border-radius: 25px;

}

.Card_title {
    font-size: 3rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

.Card_subtitle {
    transform: var(--level-two);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: .85rem;
    font-weight: var(--fw-bold);
    opacity: .9;
    color: white;
}

.Card_body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;

}

.Card_logo {
    transform: var(--level-four);
    order: 3;
}



.Card_back {
    transform: rotateY(.5turn);
    color: var(--clr);
    background: linear-gradient(rgb(93, 41, 136), #ad4089, rgb(145, 61, 187), #484c72);

}


.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

/*-----element over rides -----*/
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}

body {
    font-family: 'Roboto';
    color: var(--bd-dark);
    background-color: var(--clr-bg);
    font-size: var(--bd-font-size);
    font-weight: var(--bd-font-weight);
    line-height: var(--line-height);
    --webkit-text-size-adjust: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: initial;
    background-image: url(/img/Blue\ Elegant\ Astronout\ Youtube\ Channel\ Art\ \(1920\ ×\ 1080\ px\).png);
    background-attachment: fixed;
}

tr:nth-child(odd) {
    background-color: #0a4a6e;

}

tr:nth-child(even) {
    background-color: rgb(110, 17, 1);
}


table th {
    color: #000000;
}

td {
    color: whitesmoke;
}




div {
    color: white
}

section {
    color: white;
}

.corner {
    border-radius: 25px;
    border: 2px solid black;

}





/*
2560x500 1200x400 992x300 576x200 375x150
*/

.mainTitle {
    font-family: var(--title-font);
    font-size: 2.5rem;
    line-height: 2rem;
}

/*sizing for logo for header*/
.mainLogo {
    height: .6em
}

/*styling subtitle*/
.subTitle {
    font-family: var(--subtitle-font);
    font-size: .6rem;
    line-height: 1rem;
    font-weight: 200;
    letter-spacing: .2rem;
}

.mainHeader {
    padding-top: calc(2em + 74px);
    background-image: url(/img/WILLIAM375.jpg);
    height: 274px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left 0px top 74px;

}


.section-page {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/*project Card*/

.projectCard {
    width: 18rem;
}


/*
small devices (landcape phones 576px and up)
*/
/*@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/WILLIAM576.jpg);
        height: 274px;
    }

    .mainTitle {
        font-family: var(--title-font);
        font-size: 1rem;
        line-height: .5rem;
    }

    /*sizing for logo for header
    .mainLogo {
        height: .6em
    }
}

@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/WILLIAM768.jpg);
        height: 374px;
    }

    .mainTitle {
        font-family: var(--title-font);
        font-size: 4rem;
        line-height: 3.5rem;
        
    }

    

    /*sizing for logo for header
    .mainLogo {
        height: .6em
    }
}

@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/WILLIAM992.jpg);
        height: 400px;

    }
}

@media(min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/WILLIAM1200.jpg);
        height: 574px;
    }

    .mainTitle {
        font-family: var(--title-font);
        font-size: 6rem;
        line-height: 5.5rem;
    }

    /*sizing for logo for header
    .mainLogo {
        height: .6em
    }
}

@media(min-width: 1399.98px) {
    .mainHeader {
        background-image: url(/img/WILLIAM1500.jpg);
        height: 500px;
    }

    .mainTitle {
        font-family: var(--title-font);
        font-size: 6rem;
        line-height: 5.5rem;
    }

    /*sizing for logo for header
    .mainLogo {
        height: .6em
    }
}*/

.neon-button {
    font-size: 1rem;

    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon 0.125em solid);
    padding: 0.25em 1em;
    border-radius: 0.25em;

    text-shadow:
        0 0 0.125px hsl(0, 0%, 100% / 0.5),
        0 0 0.45px currentColor;

    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

    position: relative;

}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 65%;

    transform: perspective(1em) rotateX (40deg) scale(1, 0.35);

    filter: blur(1em);
    opacity: 0.6;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: var(rgb(3, 3, 3));
    font-weight: 400;
    font-style: var(--fw-bold);
    text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {

    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {

    opacity: 1;
}

.car {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background: inherit;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;

}

.car:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
    z-index: -1;
}